.cardsFarmacia{
    display: flex;
    flex-wrap: wrap;
    margin: 1px;
}
.farmacias{
    margin: 20px;
    border: solid 2px #99FFCC;
    border-radius: 10px;
    padding: 15px;
}
.linha1,.linha2,.linha3,.linha4,.linha5,.linha6,.linha7,.linha8,.linha9,.linha10,.linha11,.linha12,.linha13,.linha14{
    margin: 3px;
    padding: 3px;
}
.tagCentro{
    padding: 10px;
    text-align: center;
    color: #2280c9;
    font-size: 30px;
} 
.divInputsFarmacia{
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: #E0FFFF
}
.searchFarmaciaUm{
    width: 200px;
    height: 30px;
    border-radius: 4px;
    margin: 5px;
    padding: 5px;
}